<html lang='en'>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <title>BIOAlg</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='bootstrap.css')}}" />
<script src="{{ url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap.js')}}"></script>
</head>
<body>	
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">||<sup>BIOALGOS</sup>||</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../blog">Blog</a>
      </li>
<li class="nav-item active">
        <a class="nav-link" href="../algorithms">Algorithms <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<hr class="my-3">

                          <h5 class="display-5"><center><a href="../algorithms">Algorithms</a> &#8594;{{title}} </center></h5>

<hr class="my-3">

</div>
{% block content %}
{% endblock %}
<br>
<br>
<br>
<br>
<!-- Footer -->
<footer class="navbar page-footer bottom font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.linkedin.com/in/feeka/"> Fikrat Talibli.</a>
      Contact me via email: fikrattalibli@gmail.com
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>