<html lang='en'>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <title>BIOAlg</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='bootstrap.css')}}" />
<script src="{{ url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap.js')}}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">||<sup>BIOALGOS</sup>||</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../blog">Blog<span class="sr-only">(current)</span></a>
      </li>
<li class="nav-item active">
        <a class="nav-link" href="../algorithms">Algorithms <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
                      <div class="container ">
                          <hr class="my-4">
                          <h5 class="display-5"><center>Algorithms developed</center></h5>

                          <hr class="my-4">
                          
                            <div class="container">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Input</th>
                                    <th scope="col">Output</th>
                                    <th scope="col">Look</th>
                                    <th scope="col">Info</th>
                                  </tr>
                                </thead>
                                  
                                  {% for item in algos %}
                                  <tbody>
                                  <tr class="table-light">
                                    <th scope="row">{{item.name}}</th>
                                    <td>{{item.input}}</td>
                                    <td>{{item.output}}</td>
                                    <td> <a type="button" href="home/{{item.route}}" class="btn btn-primary">&#x1f441</a></td>
                                    <td><a type="button" class="btn btn-info" href="{{item.info}}">&#8505;</a></td>
                                  </tr>
                                  </tbody>
                                  {% endfor %}

                                  </table>
                              </div>
                              <br>
                              <br>
                              <br>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><h5>© 2020 Copyright. Contact me: fikrattalibli@gmail.com</h5>
    <p> </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
                            </div>

</body>
</html>